
// background colors
$cold-slate: #272727;
$warm-slate: #2A2E2E;
$dark-blue-slate: #2A3439;
$med-blue-slate: #40515D;
$light-blue-slate: #A1B2BC;

// accent colors
$yellow: #E6DB74;
$green: #49C797;
$teal: #49C3C7;
$purple: #B04BD8;
$orange: #E2542E;
$tope: #DFE2CE;


body {
	background: $dark-blue-slate;
	color: $light-blue-slate;
}

.editor-wrap {
	position: relative;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	min-height: 180px;
}

.editor {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	min-height: 180px;
	background: #2A2E2E;
	border-radius: 3px;
}

.ace-monokai .ace_print-margin {
	background: #2A2E2E !important;
}
