
.react-grid-Container {
  .react-grid-Main {
    background-color: $slate;
    outline: 1px transparent;
    
    .react-grid-Grid {
      background-color: $slate;
      border: 1px transparent;

      .react-grid-Header {
        background-color: $slate;
        .react-grid-HeaderCell {
          background-color: $slate;
          border-right: 1px solid $dark-slate;
          border-bottom: 1px solid $dark-slate;
          color: $text;
        }
      }

      .react-grid-Viewport {
        .react-grid-Canvas {
          background-color: $slate;
          .react-grid-Row {
            .react-grid-Cell {
              background-color: $slate;
              border-right: 1px solid $dark-slate;
              border-bottom: 1px solid $dark-slate;
              color: $text;
            }
          }
        }
      }
    }
  }
}