#login {
	.form {
		margin-top: 3em;
		// padding: 1em 1em 1.5em 1em;
		// border-radius: 5px;
		// box-shadow: 0 0 4px rgba(0,0,0,0.5);
		.login.btn {
			width: 100%;
			margin-bottom: 15px;
		}
	}
}