#main_menu {
  width: 300px;
  background: $slate;
  height: 100%;
  position: fixed;
  transition: right 0.25s;
  right: -100%;
  z-index: 1000;
  a {
    border-bottom: 1px solid rgba(0,0,0,0.25);
    display: block;
    color: $slate;
    text-transform: uppercase;
    padding: 1em;
    letter-spacing: 1px;
    font-weight: 500;
  }
  a:hover {
    background-color: rgba(0,0,0,0.2);
  }
}

#main_menu.hide {
  right: -100%;
}
#main_menu.show {
  right: 0;
}