#navbar {
  padding: 15px 0;
  background: $slate;

	#logotype {
	  max-width: 100px;
	  display: block;
		img {
		  width: 80%;
		}
	}

	.alpha {
		text-align: center;
		letter-spacing: 1px;
	  color: $slate;
	}
	
	.menu {
	  text-align: right;
		a {
		  margin-right: 16px;
		  letter-spacing: 2px;
		  text-transform: uppercase;
		  font-weight: 500;
		  font-size: 14px;
		}
	}
}



