#navbar {
  padding: 15px 0;
  background: $other-dark-blue-slate;

	#logotype {
	  max-width: 100px;
	  display: block;
		img {
		  width: 80%;
		}
	}

	.alpha {
		text-align: center;
		letter-spacing: 1px;
	  color: $light-blue-slate;
	}
	
	.menu {
	  text-align: right;
		a {
		  margin-right: 10px;
			color: $tope;
		}
	}
}



