#navbar {
  padding: 10px 0;
  background: #2A2E2E;

	#logotype {
	  max-width: 100px;
	  display: block;
		img {
		  width: 80%;
		}
	}
	.menu {
	  text-align: right;
	  padding-top: 5px;
		a {
		  margin-right: 10px;
		}
	}
}



