.tableColumnEditor {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
	.column {
		flex : 0 1 100px;
		padding: 0 5px 0 0;
		.remove {
			color: $brand-warning;
		}
	}
}