
@import "variables";
@import "mixins";

@import "normalize";
@import "print";

@import "reboot";
@import "alert";
@import "type";
@import "tables";
@import "forms";
@import "buttons";
@import "grid";

@import "components";

body {
  background: $dark-blue-slate;
  color: $light-blue-slate;
}

#content-wrapper {
  min-height: 90%;
}

.logotype {
  background: url('/svg/logotype.svg') center left no-repeat;
  display: block;
  overflow: hidden;
  width: 100px;
  height: 70px;
  text-indent: -5000px;
}

.logotype.large {
  margin: 150px auto 15px auto;
}

.tagline {
  text-align: center;
  color: #999999;
}

#main_menu {
  width: 300px;
  background: $other-dark-blue-slate;
  height: 100%;
  position: fixed;
  transition: left 0.25s;
  z-index: 1000;
  a {
    display: block;
    color: $light-blue-slate;
    text-transform: uppercase;
    padding: 0.5em;
    font-weight: bold;
  }
}

#main_menu.hide {
  left: -100%;
}
#main_menu.show {
  left: 0;
}

a {
  text-decoration: none;
  transition: color 0.5s;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #9FFFF0;
}